@import "fonts";
*{
  box-sizing: border-box;
}
body{
  font-family: "RobotoMedium";
  background: #f5f2f1;
  overflow-x: hidden;
  cursor: default;

  a, a:hover, a:focus{
    text-decoration: none;
  }
  a:active, a:focus, li:active, li:focus, input:active, input:focus, textarea:active, textarea:focus, button:active, button:focus, a:hover, h1:hover, h2:hover, h3:hover, h4:hover{
    outline: -webkit-focus-ring-color auto 0px;
  }
  ul{
    list-style-type: none;
    padding-inline-start: 0;
  }
  h1, h2, h3, p, ul{
    margin-block-start: 0;
    margin-block-end: 0;
  }
  h2{
    font-size: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #E21E29;
    margin-bottom: 0.5em;
  }
  h3{
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-family: "Roboto";
  }
  .button{
    display: block;
    max-width: 190px;
    width:100%;
    background: #D21E2A;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;
    padding: 14px 29px;
    margin: 20px auto;
    box-shadow: 0px 5px 5px 5px rgba(29, 0, 115, 0.05);
    &:hover{
      background: #a31c25;
    }
  }
}
.container{
  padding-right: 0.3em;
  padding-left: 0.3em;
  margin: 0 auto;
  width:100%;
  max-width: 1440px;
}
.main{
  height: 100vh;
  transition: 0.5s;
  position: relative;
  z-index: 0;
  &__active{
    transform: translateX(-75%);
  }
}

/*--------------------------------------------------------------
                          Header 
--------------------------------------------------------------*/
header{
  background: #032b73;
} 
.main__scroll{overflow: hidden;}

.header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: "RobotoMedium";
  .menu{
    nav{     
      display: none;
      flex-wrap:wrap;
      position: absolute;
      top: 0;
      left: 15%;
      width: 85%;
      height: 100vh;
      transition: 0.5s;
      transform: translateX(100%);
      padding-left: 34px;
      &__active{
        display: flex;
        transform: translateX(50%);
      }
      ul{
        background: none;
        width:100%;
        font-size: 20px;
        overflow-x: hidden;
        padding-bottom: 50px;
        li{
          margin-top: 20px;
          a{
            width:100%;
            color: #af070a;
            line-height: 180%;
            padding-right: 2%; 
            &:hover{
              color:#091292;
            }   
                    
          }
          ul{
            background: none;
            padding-bottom: 0px;
          } 
          ul ul{
            padding-bottom: 0px;
          }
        }
        .sub-menu{
          display: block;
          font-size: 18px;
          transition: all 0.9s ease;
          margin-left: 10px;
          li{
            margin-top: 0;
            a{
              color:#7e090bc9;
              &:hover{
                color:#091292;
              }
            }
            &:hover{
              li{
                a{
                  &:hover{
                    color:#091292;
                  }
                }
              }
            }
          }
        }
        .sub-menu .sub-menu{
          font-size: 16px;
          li{
            margin-top: 0;
            a{
              color: #661a2aad;
              &:hover{
                color:#091292;
              }
            }
          }
        }
      }
    }
    &__button{
      display: block;
      position: relative; 
      width: 39px;
      height: 20px;
      z-index: 19;
      cursor: pointer;
      span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top:9px;
        transition: all 0.3s ease 0s;
      }
      &::before, &:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &::before{top:0;}
      &::after{bottom:0;}
      &-close{
        float: right; 
        padding-left: 0;
      }
    }
    &__button.active{
      span{transform:scale(0);}
      &::before{transform: rotate(45deg); top:9px;}
      &::after{transform: rotate(-45deg); bottom: 9px;}
    } 
    &__active{
      transform: translateX(0%);
      opacity: 1.1;
    }
  }
}  

.logo{
  display: block;
  max-width: 169px;
  width: 100%;
  margin-top: 5px;
  img{
    max-width: 70%;
    width: 70%;
  }
  p{
    font-size: 11px;
    letter-spacing: 0.3em;
    padding-inline: 3px;
    color:rgba(255, 255, 255, 0.76);
  }
}
.contactsBlock{
  max-width: 430px;
  width: 100%;
}
.contacts{
  display: none;
  justify-content: space-between;
  max-width: 430px;
  width: 100%;  
  a{
    display: block;
    align-items: center;
    color:#03183E;
   
  }
  .red{
    &:hover {
      color:#b41719;
    }
  }
  .green{
    &:hover {
      color: #51db68;
    }
  }
  &__intro{
    display: flex;
    align-items: center;
    max-width: 200px;
    margin-left: 34px;
    width: 100%;
    justify-content: start;
  }
}

//animation on phone
.pulse {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin-top: 36px;
  width: 45px;
  height: 45px;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 30px;

  &::before, &:after{
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden; 
  }
  &::after{
    animation-delay: .5s;
  }
  &:hover{
    cursor: pointer;
    transition: 1s;
  }
}
.phone{
  background: #D21E2A;
  &::before, &:after{
    border: 1px solid #a35d61;
  }
}
.whatsApp{
  background: #34b349;
  &::before, &:after{
    border: 1px solid #34b349;
  }
}
@keyframes animate
{
	0%{transform: scale(0.5);	opacity: 0;}
	50%{opacity: 1;}
	100%{ transform: scale(0.9);		opacity: 0;}
}
//


/*Menu for phone*/
@media screen and (max-width:860px){
  .main__scroll{overflow: hidden;}
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    width:100%;
    height:100vh;
    z-index: 9;
    background: #fff;
    overflow-y: scroll;
  }

  .contacts.active{
    display: block;
    max-width: 100%;
  }
}
/*--------------------------------------------------------------
                          MainScreen 
--------------------------------------------------------------*/
.mainScreen{
  display: flex;
  height:100%;
  max-width: 100%;
  width:100%;
  background: url("../img/backgroundMob.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  &__desc{   
    margin-bottom: 100px;
    text-align: center;
    .description{
      max-width: 100%;
      margin-top: 30px;
      margin-bottom: 40px;
      p{
        color:rgba(255, 255, 255, 0.849);
        font-size: 1em;
        line-height: 1.8em;
        margin-bottom: 10px;
        letter-spacing: 0.06em;
      }
    }      
  }    
    a{/*button for feedback*/
      background: #D21E2A;
      box-shadow: 0px 5px 5px 5px rgba(29, 0, 115, 0.05);
      border-radius: 30px;
      color:#fff;      
      padding: 14px 46px;
      margin-top: 15px;
      animation: radial-pulse 0.9s infinite;
      &:hover{
        background: #db1a27d1;
      }
    }
    @keyframes radial-pulse { /*animation for button*/
      0% {box-shadow: 0 0 0 0px rgba(218, 7, 70, 0.8);}
      100% {box-shadow: 0 0 0 10px rgba(218, 7, 70, 0);;}
    }
}
/*--------------------------------------------------------------
                          AboutUs 
--------------------------------------------------------------*/
.AboutUs{
  display: block;
  justify-content: space-around;
  &__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    align-items: center;
    img{
      max-width: 100%;
    }
    .circle{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0B337C;
      width: 185px;
      height: 185px;
      border-radius: 50%;
      margin-left: auto;
      margin-top: -150px;
      position: relative;
    }
    p{
      color:#fff;
      font-size: 18px;
      max-width: 166px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      line-height: 30px;
      span{
        color:#e91c2a;
      }
    }
  }
  &__desc{
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
    p{
      font-size: 18px;
      line-height: 32px;
      width:100%;
      letter-spacing: 0.02em;
      color: #03183E;
      font-family: "Roboto";
    }
  }
}
/*--------------------------------------------------------------
                          Advantages 
--------------------------------------------------------------*/
.advantages{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  flex-wrap: wrap;
  &__Item{
    width: 40%;
    padding:15px;
    text-align: center;
    img{
      max-width: 100%;
    }
    p{
      font-family: "Roboto";
      color:#03183E;
      text-align: center;
      line-height: 24px;
    }
  }
}

/*--------------------------------------------------------------
                          |Courses
--------------------------------------------------------------*/
.courses{
  background: url("../img/courses/Eclipses2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px 0px 0;
 
  h2{
    color:#fff;
    padding-bottom: 10px;
    padding-top: 60px;
  }
  a{
    img{
      transition: 1s;
      display: block;
    }
    &:hover img{
      transform: scale(1.2);
    }
    &:hover h3{
      color:#fdfdfd;
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .link{
    display: block;
    max-width: 460px;
    width: 100%;
    overflow: hidden;
   &:last-child, &:first-child{
      overflow: hidden;
      .courses__item-desc{
        max-width: 300px;
        height: 64px;
      }
    }
    &:first-child{
      
      width: 100%;
      .courses__item-desc{
        margin-top: 0;
        position: relative;   
        border-radius: 0px;    
        max-width: 100%; 
        p{
          display: none;
          font-family: "Roboto";
          font-style: italic;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          color: #fff;
          text-align: right;
          padding-right: 10px;
        }
      }
      &:hover{
        p{
          color:#fcfcfc;
        }
      }
    }
    &:last-child{
      max-width: 460px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      float: right;
      width: 100%;
        p{
          font-family: "Roboto";
          font-size: 18px;
          line-height: 32px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #fff;
          max-width: 590px;
         
        }
        a{
          
        }        
      }
    .courses__item-desc{
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 221px;
      width: 100%;
      height: 63px;
      margin-top: -75px;            
      position: absolute;
    }
    &:hover{
      .courses__item-desc{
        background:#830d15;
      }
    }
  }
  &__item{
    overflow: hidden;
    margin: 5px 5px 5px 0px;
    img{
      width: 100%;
      max-width: 100%;
    }
    &-desc{
      background: #c52727;
      border-radius: 10px;
      h3{
        padding-left: 10px;
      }
    }
  }
}

/*--------------------------------------------------------------
                          Adaptive for main page 
--------------------------------------------------------------*/
@media screen and (min-width: 450px) {
  .mainScreen{  
    background-position: bottom left 18%;
  }
  .AboutUs{
    &__img{
      img{
        max-width: 70%;
      }
    }
  } 
  .advantages{
    &__Item{
      width:49%;
      img{
        max-width: 50%;
      }
    }
  }
  .courses{   
    padding: 60px 0px 40px 0; 
    h2{
      margin-bottom: 35px;
      margin-top: 30px;
      padding:0px;
    }
    .link{
      width: 50%;
      &:first-child{     
        max-width: 100%;
        width:100%;   
        .courses__item-desc{
          margin-top: -70px;
          position: absolute;
          border-radius: 10px;
          max-width: 300px;
        }
      }
      .courses__item-desc{
        max-width: 170px;
        height: 50px;
        margin-top: -54px;   
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .mainScreen{
    background: url("../img/background.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    &__desc{   
      text-align: left;   
      .description{
        max-width: 23.875em;
        margin-top: 20px;
      } 
    }
  }
  .courses{
    
    .link{
      &:first-child{
        .courses__item-desc{
          margin-top: -106px;
          max-width: 416px;
          height: 94px;
          p{
            display: block;
          }
        }
      }
      .courses__item-desc{
        max-width: 232px;
        height: 60px;
        margin-top: -70px; 
      }
    }
  }
}

@media screen and (min-width: 768px) { 
  .container{
    padding-right: 1.8em;
    padding-left: 1.8em;
  }
  .header{
    .menu{
      nav{
        ul{
          background: url("../img/nav2.png");
          background-position: bottom right;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .contacts{
    display: flex;
    margin-top: 0;
    a{
      color:#fff;
    }
    .red{
      &:hover {
        color:#e91c2a;
      }
    }
    &__intro{
      margin: 0 auto;
      justify-content: space-between;
    }
  }
  .mainScreen{
    a{
      padding: 14px 70px;
    }
  }
  .AboutUs{
    display: flex;
    &__desc{
      font-size: 24px;
      line-height: 44px;
      text-align: left;
      margin-top: 0;
      p{
        max-width: 620px;
      }
      a{
        margin: 20px 0 0 0;
      }
    }
  }
  .advantages{
    &__Item{
      width:20%;
    }
  }
  .courses{
    padding: 60px 0px 80px 0;
    .link{
      max-width: 580px;
      width: 50%;
      &:first-child{
        max-width: 100%;
        width:100%;
      }
      &:last-child{
        max-width: 580px;
        width: 50%;
        p{
          text-align: right;
        }
        a{
          float:right;
        }
      }
    }
  }
  
}
@media screen and (min-width: 824px) {
  body{
    h3{
      font-size: 28px;
    }
  }
  .mainScreen{  
    background-position: bottom right 44%; 
    &__desc{
      margin-bottom: 300px;
      .description{
        p{
          font-size: 1.125em;
        }
      } 
    }
  }
  .AboutUs{
    &__img{
      p{
        font-size: 20px;
      }
      .circle{
        width: 218px;
        height: 218px;
      }
    }
  }
  .courses{
    .link{
      &:first-child{
        .courses__item-desc{
          max-width: 568px;
          height: 116px;
          margin-top: -132px;
          p{
            font-size: 24px;
          }
        }
      }
      .courses__item-desc{
        max-width: 300px;
        height: 75px;
        margin-top: -100px;
      }
    }
  }
  

}
@media screen and (min-width: 934px) {
  body .button{
    max-width: 258px;
    font-size: 24px;
    padding: 16px 45px;    
    margin:20px 0 0 0;
  }
  
  .mainScreen{     
    &__desc{
      
      .description{
        max-width: 450px;
      } 
    }
  }
  .header{
    .menu{
      nav{   
        ul{
          background-position: bottom left 9%;
        }    
       
      }
    }
  }
  .main{
    &__active{
      transform: translateX(-40%);
    }
  }
  .courses{
    .link{
      &:last-child{
        p{
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .mainScreen{
    background-position: bottom right 38%;
  } 
  .header{
    .menu{
      nav{        
        ul{
          background-position: bottom left 9%;
        } 
      }
    }
  }
 
}
@media screen and (min-width: 1124px) {
  .mainScreen{    
    &__desc{  
      margin-top: 70px;
      margin-bottom: 390px;
      .description{
        max-width: 500px;
      }  
    }
  }
 
}
@media screen and (min-width: 1259px) {
  .mainScreen{
    &__desc{
      .description{
        max-width: 600px;
        p{
          font-size: 22px;
          line-height: 40px;
          margin-bottom: 20px;
        }
      }  
    }
  }
  .courses{
    h2{
      margin-bottom: 50px;
    }
    .link{
      max-width: 460px;
      width: 33.3%;
      &:last-child{
        max-width: 460px;
        width: 33.3%;
        p{
        }
      }
    }
  }
}
@media screen and (min-width: 1366px) {
  .mainScreen{   
    &__desc{
      .description{
        max-width: 550px;
        p{
          margin-top: 20px;
          font-size: 24px;
        }
      }  
    }
  }
  .main{
    &__active{
      transform: translateX(-30%);
    }
  }
  
}
@media screen and (min-width: 1530px) {
  .courses{
    .link{
      width:100%;
      &:first-child{
        max-width: 920px;
        width:100%;
      }
      &:last-child{
        max-width: 920px;
        width:100%;
        p{
          max-width: 590px;
        }
      }
    }
  }
}
@media screen and (min-width: 1570px) {
  .mainScreen{
    &__desc{
      margin-bottom: 500px;
      .description{
        max-width: 600px;
      }
    }
  }
  
}
@media screen and (min-width: 1700px) {
  .mainScreen{
    &__desc{
      .description{
        max-width: 700px;
      }
    }
  }
  .main{
    &__active{
      transform: translateX(-25%);
    }
  }
}
@media (min-width: 2133px) and (max-width: 2399px) {
  body{
    zoom: 108%;
  }
}

@media screen and (min-width: 2400px) {
  body{
    zoom: 122%;
  }
}

@media screen and (min-width: 2560px) {
  body{
    zoom: 136%;
  }
}

@media screen and (min-width: 2880px) {
  body{
    zoom: 146%;
  }
}

@media screen and (min-width: 3840px) {
  body{
    zoom: 195%;
  }
}

@media screen and (min-width: 5760px) {
  body{
    zoom: 295%;
  }
}
@media screen and (min-width: 7680px) {
  body{
    zoom: 391%;
  }
}

